
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }

#grid {
    margin: 0 auto;
    width: 980px;
    a{
        display: block;
    }
    .grid-sizer,
    .grid-item {
        width: 32%;
        margin-bottom: 20px;
    }

    .grid-item img {
        width: 100%;
        height: auto;
    }

    .gutter-sizer {
        width: 2%;
    }

    @media screen and (max-width: 768px) {
    .grid-sizer,
    .grid-item {
        width: 48.5%;
        margin-bottom: 10px;
        }
    }
}























body{
    line-height: 2.0;
    letter-spacing: 0.5;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    color:rgb(102, 102, 102);
    a{
        text-decoration: none;
        color:rgb(102, 102, 102);
    }
}
.sidebar{
    background-color: rgb(243, 243, 243);
    position:fixed;
    left:0;
    top:0;
    height:100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 48px;
    .sidebar-group{
        display: flex;
        flex-direction: column;
        gap:10px;
    
    }
    a{
        font-size: 0.9rem;
        transition:0.2s all;
        
        &:hover{
            transform:translateX(10px);
            letter-spacing: 2px;
        }
       
    }
    .title{
        letter-spacing: 10px;

    }
    .link-btn{
        border:solid black 1px;
        border-radius:100px;
        text-align: center;

    }
}
.home-container{
    max-width: 800px;
    margin:0px auto;
    width: 100vw;
    border:solid 1px gray;
    text-align: center;
    h2{
        font-size: 3rem;
        margin-bottom: 40px;
        letter-spacing: 0.5rem;
        font-weight: 300;
    }
    p{
        text-align: left;
    }
    .section{
        padding:200px 0;
    }
    .section1{
        dotlottie-player{
            margin:0 auto;
        }


    }
    .section2, .section3{
        text-align: left;
        display:flex;
        flex-direction: row;
        gap:80px;
        align-items: center;
        dotlottie-player{
            flex:1;
        }
        .text{
            flex:1;
        }
    }
    .section4{
        .contact-line{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            padding:0 24px;
        }
    }

}
.history-container{
    max-width: 900px;
    margin:100px auto 0;
    width: 100vw;
    height: 100vh;
    border:solid 1px gray;

    text-align: center;
    h2{
        font-size: 2rem;
        line-height: 1.5;
    }
    .sub-title{
        font-size:1rem;
    }
    .duration-year{
        display:inline-block;
        flex-direction: column;
    }
    .history-section{
        display:flex;
        flex-direction: row;
        gap:80px;
        padding:100px 0;
        
        .history-right{
            text-align: left;
            flex:1;
        }
        .history-left{
            text-align: right;
            flex:1;
        }
    }
}
.galary-container{
    max-width: 800px;
    margin:100px auto 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    
    .galary{
        margin-top:100px;
    
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
        
        gap:20px;
        .card{
            display: flex;
            flex-direction:column;
            gap:0px;
            background-color: white;
            width: 385px;
            
            img{
                width:100%;
            }
            p{
                text-decoration: none;
                font-size: 0.8rem;
                
            }
        }
    }
}
.article-container{
    max-width: 700px;
    margin:100px auto;
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap:40px;
    h1{
        font-size:2rem;
    }
    h2{
        font-size:1.5rem;
    }
    p{

    }
    img{
        width:100%;
     }

}
