@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* --font-black: #dddddd; */
  --font-black: black;
  --font-white: #333333;
  --img-gray: #666666;
  --bg: #ffffff; /* 背景色をここで一元管理 */
}

body{
    line-height: 2.0;
    letter-spacing: 0.5;
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    color:var(--font-black);
    background-color: var(--bg); /* 背景色を変数から取得 */
   
    a{
        text-decoration: none;
        color:var(--font-black);
    }
    h1{
        font-size:2rem;
        letter-spacing: 0.3rem;
        font-weight: 300;
    }
    h2{
        font-size: 1.3rem;
        letter-spacing: 0.3rem;
        font-weight: 400;
        margin-top: 50px;
    }
    h3{
        font-size: 1rem;
        letter-spacing: 0.3rem;
        font-weight: 400;
        margin-top: 20px;
    }
    p{
        font-weight: 300;
        line-height: 2.5;
        letter-spacing: 0.1rem;
    }
     ul{
        margin-left: -16px;
     }
   
}
.article-content{
    margin-bottom: 100px;
    h2{
        font-size: 1.3rem;
        letter-spacing: 0.3rem;
        font-weight: 600;
        margin-top: 50px;
    }
    h3{
        font-size: 1rem;
        letter-spacing: 0.3rem;
        font-weight: 400;
        margin-top: 20px;
        position: relative; /* before要素の基準位置として必要 */
        padding-left: 1.5rem; /* ハイフンのためのスペース */
    }
    h3::before {
        content: "-";
        position: absolute;
        left: 0;
        font-weight: 400;
        color: var(--font-black); /* フォントカラーを継承 */
    }
    
}
.detail-items{
    a{
        text-decoration: underline;
        text-underline-offset: 8px;
    }
}
.container{
    width: 100vw;
    margin:100px auto 100px;
    transform: translateX(100px);

    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 80px; /* タイトルの高さ分だけ余白を追加 */
}
@media (max-width: 1200px) {
    .container {
        max-width: 800px;
    }
}
@media (max-width: 999px) {
    .container {
        max-width: 700px;
        transform: translateX(0px);
    }
}
/* レスポンシブ対応 */
@media (max-width: 768px) {
    .container {
        max-width: 600px;
    }
    .art-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        padding: 15px;
    }
}

